.header {
    position: relative;
    font-size: 16px;
    z-index: 2000;

    &-logo {
        position: fixed;
        top: 50%;
        left: 20px;
        width: 100px;
        height: 100px;
        background: url('/assets/images/logo.png') center /100% no-repeat;
        transform: translateY(-50%);
        overflow: hidden;

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            color: transparent;
            font-size: 1px;
        }
    }

    &-navigation {
        position: fixed;
        bottom: 30px;
        left: 10px;
    }
}

.navigation ul {
    display: -ms-flexbox;
    display: flex;

    li {
        padding: 0 10px;
    }

    a {
        display: block;
        padding: 10px;
        @include enFont(20px, 20px, 400);
        color: #fff;
    }
}